/* tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
	html[data-theme='default'] {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;
	
		--primary: 240 5.9% 10%;
		--primary-foreground: 0 0% 98%;
	
		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
	  
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
	  
		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;
	  
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
	  
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
	
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		
		--info: 194 100% 50%;
		--info-foreground: 0 0% 98%;
	  
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 240 5.9% 10%;
		--radius: 0.5rem;
		
		--disabled: #e8e6e63d;
		--disabled-foreground: #06060680;
		--border-disabled: #bfbfbf46;
	}

	html[data-theme="rose"] {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;
	  
		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
	  
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
	  
		--primary: 346.8 77.2% 49.8%;
		--primary-foreground: 355.7 100% 97.3%;
	  
		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;
	  
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
	  
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
	  
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
	  
		--border:240 5.9% 90%;
		--input:240 5.9% 90%;
		--ring:346.8 77.2% 49.8%;
		--radius: 0.5rem;
	}

	html[data-theme="neon"] {
		--background: 0 0% 100%;
		--foreground: 224 71.4% 4.1%;
	
		--card: 0 0% 100%;
		--card-foreground: 224 71.4% 4.1%;
	
		--popover: 0 0% 100%;
		--popover-foreground: 224 71.4% 4.1%;
	
		--primary: 262.1 83.3% 57.8%;
		--primary-foreground: 210 20% 98%;
	
		--secondary: 220 14.3% 95.9%;
		--secondary-foreground: 220.9 39.3% 11%;
	
		--muted: 220 14.3% 95.9%;
		--muted-foreground: 220 8.9% 46.1%;
	
		--accent: 220 14.3% 95.9%;
		--accent-foreground: 220.9 39.3% 11%;
	
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 20% 98%;
	
		--border:220 13% 91%;
		--input:220 13% 91%;
		--ring:262.1 83.3% 57.8%;
		--radius: 0.5rem;
	}
}